# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
test-ledger/faucet-keypair.json
test-ledger/genesis.bin
test-ledger/genesis.tar.bz2
test-ledger/ledger.lock
test-ledger/snapshot-2200-AJyXevKEJcpt3QL2xKZCss62gN343ozFz5UmPHcTmTVB.tar.zst
test-ledger/snapshot-2300-5twdKn42GwfExHVdsyfcQTawPvY5hhwtDokFtV9YXa4j.tar.zst
test-ledger/stake-account-keypair.json
test-ledger/tower-1_9-FCa5DPCrbURzU5sBxEBuXMqMFbBcJEDdgMdM5auENAho.bin
test-ledger/validator-1728034585050.log
test-ledger/validator-1728035280663.log
test-ledger/validator-keypair.json
test-ledger/validator.log
test-ledger/vote-account-keypair.json
test-ledger/accounts/run/0.1
test-ledger/accounts/run/1245.14
test-ledger/accounts/run/1300.13
test-ledger/accounts/run/1400.15
test-ledger/accounts/run/1500.16
test-ledger/accounts/run/1600.17
test-ledger/accounts/run/1700.18
test-ledger/accounts/run/1800.19
test-ledger/accounts/run/1900.20
test-ledger/accounts/run/2000.21
test-ledger/accounts/run/2100.22
test-ledger/accounts/run/2200.23
test-ledger/accounts/run/2300.24
test-ledger/accounts/snapshot/2300/0.1
test-ledger/accounts/snapshot/2300/1245.14
test-ledger/accounts/snapshot/2300/2200.23
test-ledger/accounts/snapshot/2300/2300.24
test-ledger/rocksdb/000056.sst
test-ledger/rocksdb/000057.sst
test-ledger/rocksdb/000058.sst
test-ledger/rocksdb/000059.sst
test-ledger/rocksdb/000060.sst
test-ledger/rocksdb/000061.sst
test-ledger/rocksdb/000073.sst
test-ledger/rocksdb/000076.sst
test-ledger/rocksdb/000077.sst
test-ledger/rocksdb/000078.sst
test-ledger/rocksdb/000079.sst
test-ledger/rocksdb/000080.sst
test-ledger/rocksdb/000081.sst
test-ledger/rocksdb/000082.sst
test-ledger/rocksdb/000083.sst
test-ledger/rocksdb/000084.sst
test-ledger/rocksdb/000085.sst
test-ledger/rocksdb/000086.sst
test-ledger/rocksdb/000087.sst
test-ledger/rocksdb/000088.sst
test-ledger/rocksdb/000089.sst
test-ledger/rocksdb/000090.sst
test-ledger/rocksdb/000091.log
test-ledger/rocksdb/CURRENT
test-ledger/rocksdb/IDENTITY
test-ledger/rocksdb/LOCK
test-ledger/rocksdb/LOG
test-ledger/rocksdb/LOG.old.1728034585295556
test-ledger/rocksdb/LOG.old.1728035280681987
test-ledger/rocksdb/MANIFEST-000092
test-ledger/rocksdb/OPTIONS-000098
test-ledger/rocksdb/OPTIONS-000100
test-ledger/snapshot/2300/2300
test-ledger/snapshot/2300/state_complete
test-ledger/snapshot/2300/status_cache
test-ledger/snapshot/2300/version
test-ledger/snapshot/2300/accounts_hardlinks/account_path_0
